<div>Este es el título:
	<strong>{{ etiqueta['titulo'] }}</strong>
	y la etiqueta es
	<strong>{{ etiqueta['etiqueta'] }}</strong>
</div>
<div>Descripción: {{ descripcion }}</div>
<div>El tipo de nodo es <strong>{{ tipo }}</strong></div>

<div>El resultado del servico es: {{ servicio }}</div>
