<div>
  <p>
    <h2>Operadores</h2>
    Operador 1: {{ operadores["num1"] }} <br />
    Operador 2: {{ operadores["num2"] }} <br />
  </p>
  <hr>
  <h2>Operaciones numéricas</h2>
  <p><strong>Suma: </strong>{{operacion['suma']}}</p>
  <p><strong>Multiplicación: </strong>{{operacion['multiplica']}}</p>
  <p><strong>Resta: </strong>{{operacion['resta']}}</p>
</div>


