<div id={{elementos['tab']}} class="tab-pane fade in active">
    <h3 class="tit-contador">{{titulo}}</h3>
    <div>
        Direccion : {{elementos['address']}}<br>
        Pestaña : {{elementos['tab']}}<br>
        observaciones : {{elementos['observations']}}<br>
    </div>
  
    
  
  </div> 
  